@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
    text-align: center;
    background-color: hsl(0, 0%, 94%);

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    

    * {
        font-family: 'Poppins', sans-serif;
    }
}